.body{
    background-color: lightblue;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-size: 1.25rem;
    
}
.container{
     background-color:#00fcdc ;
}
.h1{
    font-size: 3rem; 
    text-align: center;
}
.p{
    text-align: justify;

}

.li{

    color: #00fcdc;
    font-family: fantasy;
    font-size: 1.25rem;
}

.a{
    color: #00b6ab;
     font-family: fantasy;
    font-size: 1.25rem;

}
.nav{
    color: #008284;
     font-family: fantasy;
    font-size: 1.25rem;

}
